<%= form_for(@artist) do |f| %>
  <!-- <ul>
    <% @artist.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul> -->
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>

  <% Band.all.each do |band| %>
    <%=
      check_box_tag(
        "artist[band_ids][]", # input tag name
        band.id, # value to upload
        @artist.bands.include?(band), # default on or off?
        :id => "artist_band_ids_#{band.id}" # HTML id for label
      )
     %>

    <%= label_tag "artist_band_ids_#{band.id}", band.name%>
    <br>
  <% end %>

  <!-- meant to catch the scenario where we remove all owners -->
  <%= hidden_field_tag "artist[band_ids][]", "2" %>

    <%= f.submit %>

<% end %>